.check-terms{
    display: grid;
    gap: 1.5rem;
    margin-bottom: 2rem;

    & .check{
        display: flex;
        align-items: center;
        gap: 1rem;

        & .box-check{
            padding: .25rem;
            background-color: var(--input-stroke);
            border-radius: .5rem;
            position: relative;

            & input[type="checkbox"]{
                position: absolute;
                inset: 0;
                opacity: 0;
            }

            &:has(:checked), &:hover, &:focus-within{
                border: 1px solid var(--brand-light);
            }

            & .img-checked{
                background: url(../../assets/icons/check.svg)
                center/contain, no-repeat;
                height: 1rem;
                width: 1rem;
            }
        }

        & span{
            font: var(--body-sm);
            display: block;
        }
    }

    
}
.submition-form{
    margin-left: auto;
        & button{
            display: flex;
            align-items: center;
            padding: 1rem;
            background-color: var(--brand-dark);
            border-radius:.5rem ; 
            border: none;
            gap: .5rem;
        }
    }