@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /*cores*/

    --brand-light: #59B2FF;
    --brand-mid: #348FCF;
    --brand-dark: #1D6FB6;

    --danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    /*fontes*/

    --font-leckerli:'Leckerli One', sans-serif;
    --text-logo: 400 2rem var(--font-leckerli);

    --font-baloo2: 'Baloo 2', sans-serif;
    --heading-md: bold 1.75rem var(--font-baloo2);
    --heading-sm: 00 1.125rem var(--font-baloo2);

    --font-open-sans: 'Open Sans', sans-serif;
    --body-md: 400 1rem var(--font-open-sans);
    --body-sm: 400 .875rem var(--font-open-sans);
    --body-xs: 400 .75 var(--font-open-sans);

}
body{
    font: var(--body-md);
    color: var(--text-body);
    overflow: hidden;
    background-color: var(--shape-background);
    height: 100vh;
    
}

img{
    max-width: 100%;
    height: 1.5rem;
    width: 1.5rem;
}
h1, legend {
    color: var(--text-heading);
    font: var(--heading-md);

    
}
legend {
    color: var(--text-heading); 
    font: var(--heading-sm)
}
label{
    color: #FFFFFF; 
    font: var(--body-md);
}
.margin{
    margin-top: 1.5rem;
}
.margin1{
    margin-bottom: 1rem;
}



